$topnav-background-color: #39507a;
$topnavreverse-background-color: #7a93cc;
.topnav {
    border-radius: 0;
    padding : 5px;
    z-index:2;
    .text-center{
        text-align: center;
        padding-left : 0;
        cursor: pointer;
    }
    .top-right-nav{
        .buy-now{
            a{
                color:#999;
            }
        }
        .dropdown-menu{
            top: 40px;
            right: -5px;
            left : auto;
            .message-preview{
                .media{
                    .media-body{
                        .media-heading{
                            font-size: 14px;
                            font-weight: bold;
                            margin-bottom : 0;
                        }
                        p{
                            margin : 0;
                        }
                        p.last{
                            font-size : 13px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            hr {
                margin-top: 1px;
                margin-bottom: 4px;
            }
        }
    }
}
.messages {
    width: 300px;
    .media {
        border-bottom: 1px solid #DDD;
        padding: 5px 10px;
        &:last-child {
            border-bottom: none;
        }
    }
    .media-body {
        h5 {
            font-size: 13px;
            font-weight: 600;
        }
        .small {
            margin: 0;
        }
        .last {
            font-size: 12px;
            margin: 0;
        }
    }
}

.header .navbar {
    padding: 0px;
}

.navbar h2 {
    color: #fff;
    margin-left: 40px;
    margin-top: 88px;
    text-transform: capitalize;
}

.navbar .navbar-collapse {
    background: $topnav-background-color !important;
}

.navbar .logo {
    background-color: #FFF;
    padding: 20px;
}

.navbar .navbar-nav.ml-auto .nav-item {
    border-left: 1px solid #000;
}

.navbar .navbar-nav.mr-auto .nav-item {
    border-right: 1px solid #e1ecf0;
}

.navbar .navbar-nav .nav-item .nav-link {
    display: table-cell;
    vertical-align: middle;
    width: 160px;
    height: 160px;
    padding: 0px;
    color: #FFF !important;
    background: $topnav-background-color !important;
}

.navbar .navbar-nav.ml-auto .nav-item .nav-link {
    border-left: 1px solid #e1ecf0;
}

.navbar .navbar-nav.mr-auto .nav-item .nav-link {
    border-right: 1px solid #000;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #FFF !important;
    background: $topnavreverse-background-color !important;
}

.navbar .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
    content: none;
}

.navbar .navbar-nav .nav-item .nav-link p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
