<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-toggleable-md">
        <div class="logo">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="assets/images/logo.png" width="235px">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav mr-auto">
                <ul *ngIf="user.isAuth" class="navbar-nav mt-md-0">
                    <li class="dropdown" ngbDropdown>
                        <h2 class="ruolo">
                            {{user.type}}
                        </h2>
                    </li>
                </ul>
                <ul *ngIf="!user.isAuth" class="navbar-nav mt-md-0">
                    <li *ngFor="let role of userRoles" class="nav-item dropdown" ngbDropdown>
                        <a (click)="onType(role)" href="javascript:void(0)" class="nav-link text-center">
                            <i class="fa fa-user fa-2x"></i>
                            <p>{{ role }}</p>
                        </a>
                    </li>
                </ul>
                <ul *ngIf="avviso.id" class="navbar-nav mt-md-0">
                    <li class="dropdown" ngbDropdown>
                        <h2 class="avviso">
                            avviso #{{avviso.id}}
                        </h2>
                    </li>
                </ul>
                <ul *ngIf="avviso.state" class="navbar-nav mt-md-0">
                    <li class="dropdown" ngbDropdown>
                        <h2 class="avviso text-capitalize">
                            {{avviso.state | lowercase }}
                        </h2>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav ml-auto">
                <!--
                <ul *ngIf="user.isAuth && user.room" class="navbar-nav mt-md-0">
                    <li class="nav-item dropdown" ngbDropdown>
                        <a href="javascript:void(0)" class="nav-link text-center">
                            <i class="fa fa-check-circle fa-2x"></i>
                            <p>ammissione<br>offerte</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                        <a href="javascript:void(0)" class="nav-link text-center">
                            <i class="fa fa-envelope-open fa-2x"></i>
                            <p>apertura<br>buste</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                        <a href="javascript:void(0)" class="nav-link text-center">
                            <i class="fa fa-gavel fa-2x"></i>
                            <p>asta<br>incanto</p>
                        </a>
                    </li>
                </ul>
                -->
                <ul class="navbar-nav mt-md-0">
                    <li class="nav-item dropdown" ngbDropdown>
                        <a href="javascript:void(0)" class="nav-link text-center" ngbDropdownToggle>
                            <i class="fa fa-user-circle fa-2x"></i>
                            <p>Francesco<br>Riparelli</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!--
							<a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-user"></i> Profile</a>
							<a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
							<a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> Settings</a>
							-->
                            <a class="dropdown-item" (click)="onLoggedout()" href="javascript:void(0)">
                                <i class="fa fa-fw fa-power-off"></i>
                                <span>Log Out</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
