<div class="card card-default">
    <div class="card-header">
        <div class="float-left">
            <h5 class="text-uppercase">
                <i class="fa fa-bars"></i>
                Elenco offerte
            </h5>
        </div>
    </div>
    <div class="card-header">
        <div class="row">
            <h5 class="col col-xl-4">
                <i class="fa fa-gavel"></i>
                base d'asta: 809.987,98 €
            </h5>
            <h5 class="col col-xl-4">
                <i class="fa fa-check-square"></i>
                cauzione: 10%
            </h5>
            <div class="col col-xl-4 text-right">
                <button (click)="openDialog()" class="btn btn-primary" type="button">deposita busta cartacea</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <table class="card-block table table-hover">
            <thead>
            <tr>
                <th *ngFor="let title of titles">{{ title }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let avviso of avvisi; let i = index;">
                <td *ngFor="let field of fields">{{ avviso[field] }}</td>
                <td class="text-right">
                    <button (click)="accetta(i)" [disabled]="isAccetta(avviso.stato)" class="btn btn-success" type="button">accetta</button>
                    <button (click)="rifiuta(i)" [disabled]="isRifiuta(avviso.stato)" class="btn btn-danger" type="button">rifiuta</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
