<div *ngIf="user.isAuth">
    <div class="row">
        <div class="col col-xl-12">
            <div class="card mb-3">
                <div class="card-header">Gestione avvisi</div>
                <table class="card-block table table-hover">
                    <thead>
                    <tr>
                        <th *ngFor="let title of titles">{{ title }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let avviso of avvisi">
                        <td *ngFor="let field of fields" [ngSwitch]="field">
                            <span *ngSwitchCase="'prezzo'">{{ avviso[field] | currency:'EUR':true }}</span>
                            <span *ngSwitchDefault>{{ avviso[field] }}</span>
                        </td>
                        <td class="text-right">
                            <button [disabled]="isDisabled(avviso.stato)" class="btn btn-primary" type="button" (click)="goRoom(avviso.avviso, avviso.stato)">vai alla stanza</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
