<div *ngIf="user.isAuth">
    <div class="row">
        <div class="col col-xl-12">
            <div class="card mb-3">
                <div class="card-header">Gestione avvisi</div>
                <table class="card-block table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td class="text-right"><button class="btn btn-primary" type="button" (click)="goRoom('1')">vai alla stanza</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td class="text-right"><button class="btn btn-primary" type="button" (click)="goRoom('2')">vai alla stanza</button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        <td class="text-right"><button class="btn btn-primary" type="button" (click)="goRoom('3')">vai alla stanza</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
