<form class="row" role="form">
    <div class="col col-xl-6 form-group">
        <label for="cognome">Cognome</label>
        <input type="text" id="cognome" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-6 form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-6 form-group">
        <label for="comuneNascita">Comune nascita</label>
        <input type="text" id="comuneNascita" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-6 form-group">
        <label for="codiceFiscale">Codice fiscale</label>
        <input type="text" id="codiceFiscale" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-6 form-group">
        <label for="indirizzoResidenza">Indirizzo di residenza</label>
        <input type="text" id="indirizzoResidenza" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-6 form-group">
        <label for="comuneResidenza">Comune residenza</label>
        <input type="text" id="comuneResidenza" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-6 form-group">
        <label for="email">Indirizzo email</label>
        <input type="text" id="email" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-6 form-group">
        <label for="telefono">Recapito telefonico</label>
        <input type="text" id="telefono" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-6 form-group">
        <label for="tipoCauzione">Tipo cauzione</label>
        <input type="text" id="tipoCauzione" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-6 form-group">
        <label for="valoreCauzione">Valore cauzione</label>
        <input type="text" id="valoreCauzione" class="form-control input-lg" required>
    </div>
    <div class="col col-xl-12 form-group">
        <label for="documeti">Documenti Consegnati</label>
        <textarea id="documeti" class="form-control input-lg" required></textarea>
    </div>
</form>
