<div *ngIf="user.isAuth">
    <div class="row" style="margin-top: 15px;">
        <div class="col col-xl-2">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-user"></i>
                    user online
                </div>
                <div class="card-block">
                    content
                </div>
            </div>
        </div>
        <div class="col col-xl-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-bars"></i>
                    admin
                </div>
                <div class="card-block">
                    content
                </div>
            </div>
        </div>
        <div class="col col-xl-2">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-commenting"></i>
                    chat
                </div>
                <div class="card-block">
                    <app-chat></app-chat>
                </div>
            </div>
        </div>
    </div>
</div>
